.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    gap: 1rem;
}
.login-form h1{
    padding-bottom: 2rem;
}
.login-form input{
    padding: .7rem 2rem;
    border-radius: 1.3rem;
    background:wheat;
    border: none;
    color: black;
    font-size: 1.3rem;
    width: 22rem;
}
.login-btn-div{
    display: flex;
    justify-content: center;
}
.login-btn{
   padding: .6rem 2rem;
   font-size: 1.3rem;
   border-radius: 2rem;
   width: 18rem;
   background: black;
   color: #F8BF7C;
   margin-top: 2rem;
   font-weight: 600;
   cursor: pointer;
}
.login-btn:hover{
    width: 19rem;
    transition: all .3s ease-in-out;
}
.login-to-signup{
    padding: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.link-color{
    color: #5c3c17;
    border-bottom: 2px solid #5c3c17;
    font-weight: 600
}
.login-to-signup p{
    text-align: center;
}
.login-error-message{
    color: red;
    padding-top: 1rem;
    text-align: center;
}
@media screen and (max-width: 360px){
    .login-form h1{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .login-form input{
        padding: .7rem 2rem;
        border-radius: 1.3rem;
        background:wheat;
        border: none;
        color: black;
        font-size: 1.3rem;
        width: 20rem;
    }
}