.adminReport{
    background: linear-gradient(106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%);
    min-height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhai 2', sans-serif;
}
.appGlass1{
    display : grid;
    min-height: 97vh; 
    width: 97%;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.54);
    /* overflow: hidden; */
    grid-template-columns: 11rem auto;
    gap: 10px;
    font-family: 'Baloo Bhai 2', sans-serif;
}
@media screen and (max-width : 1200px) {

.appGlass1{
    grid-template-columns: 10%  auto;
    overflow-y: scroll;
}
}
@media screen and (max-width : 768px) {
    .appGlass1{
        grid-template-columns: 1fr;
    }
    .appGlass1::-webkit-scrollbar{
        display: none;
    }
}